/*공통 스타일*/
*{margin:0; padding:0;}

html,body{
	width:100%;
	height:100%;
}

body{
	font:12px "맑은고딕";
	color:#333;
	background:#eee;
}


.hidden{
	height:0;
	overflow:hidden;
	padding:0;
}

a{
	text-decoration:none;
	color:#666;
}

ul{
	list-style:none;
	padding:0;
}

.text_focus{border:2px solid #4c85e6;}	

/*레이아웃 스타일*/
#wrapper{
	width:700px;
	height:100%;
	background:white;
	margin:0 auto;
}

.content{
	width:60%;
	margin:0 auto;
}

header{
	text-align:center;
	padding-top:85px;
}

section{
	margin:0 auto;
}

/*header 영역 상세스타일*/
header img{
	width:33.5%;
}

/*sec1Wrap .right 영역 상세스타일*/
.right p{
	text-align:right;
	font-size:14px;
	margin-top:29px;
	margin-bottom:12.5px;
	color:#111;
}

.right p span{margin-left:5px;}

/*sec1Wrap .input 공통 스타일*/
.input form{
	text-align:center;
}

.input form p input{
	padding:14px;
	width:100%;
	box-sizing:border-box;
	margin-bottom:8.5px;
	border:none;
}

.input form p input::placeholder{color:#999;}

/*sec1Wrap .input 영역 상세스타일*/
.input form .ip input{
	font-size:15px;
	border:2px solid #ddd;
}


.input form .login input{
	background:#4c85e6;
	color:white;
	font-weight:bold;
	font-size:18px;
	border:2px solid transparent;
	margin-top:4px;
	cursor:pointer;
}

/*sec1Wrap .ect 영역 상세스타일*/
.ect{
	font-size:16px;
	color:#555;
	font-weight:bold;
	margin-top:2px;
	overflow:auto;
}

.ect form input[type="checkbox"]{display:none;}

.ect form input label strong{cursor:pointer;}

.ect form .fL{
	float:left;
}

.ect form .fL input[type="checkbox"]+label span{
	background: url(../images/chkboxBtn2.png) no-repeat center center;
	width:22px;
	height:22px;
	display:inline-block;
	margin-right:8px;
	vertical-align:top;
}

.ect form .fL input[type="checkbox"]:checked+label span{
	background:url(../images/chkboxBtn3.png) no-repeat center center;
}	

.ect form .fR{
	float:right;
}

.ect form .fR input[type="checkbox"]+label span{
	background:url(../images/on.png) no-repeat left center;
	width:30px;
	height:12px;
	display:inline-block;
	margin-left:5px;
	text-align:left;
}

.ect form .fR input[type="checkbox"]:checked+label span{
	background:url(../images/off.png) no-repeat center center;
}

/*sec2Wrap 영역 상세스타일*/
.sec2Wrap{}

.sec2Wrap ul{
	overflow:auto;
	margin:37px auto;
	display:table;
}
.sec2Wrap ul li{
	font-size:15.6px;
	color:#666;
	float:left;
	margin:0 auto;
	padding:0 18px;
	border-right:2px solid #ddd;
	text-align:center;
}

.sec2Wrap ul li:last-child{border-right:none;}

/*sec3Wrap 영역 상세스타일*/
.sec3Wrap{}
.sec3Wrap p{}
.sec3Wrap p img{
	width:100%;
	border:2px solid #e2e8ed;
	margin:0 auto;
	margin-top:57px;
	margin-bottom:40px;
}

/*footer 영역 상세스타일*/
footer{border-top:1.5px solid #e2e8ed;}
	
footer ul{
	overflow:auto;
	display:table;
	margin:0 auto;
	padding:16px 0;	
}

footer ul li{
	float:left;
	padding:0 15px;
	border-right:2px solid #e2e8ed;
	font-size:11.2px;
	color:#777;
}

footer ul li:last-child{border-right:none;}